$primary-color: rgb(255, 204, 0);

.header-main {
  background-color: $primary-color;
  color: #fff;
  font-size: 19px;
  height: 52px;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.header-nav {
  width: 1024px;
  padding: 0 12px;
  margin: 0 auto;
}

.header-main li {
  float: left;
  padding-left: 25px;
  padding-top: 15px;
}

li.header-logo {
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  padding: 0;
}

.header-logo a {
  display: block;
  font-weight: 500;
  margin-bottom: -5px;
  font-family: 'Montserrat', sans-serif;
}

.header-logo span {
  display: block;
  font-family: 'Graduate', cursive;
  font-size: 9px;
  letter-spacing: 3px;
}

.session-links a, {
  color: white;
  background-color: #1e91ea;
  padding: 7px 13px;;
  border-radius: 5px;
  font-size: 17px;
}

.welcome-and-logout {
  display: inline-block;
  float: right;
  margin-top: 13px;
  height: 50px;
}

.header-current-user {
  color: white;
  background-color: #1e91ea;
  border-radius: 5px;
  font-size: 17px;
  position: relative;
  padding: 5px;
  // margin-right: 25px;
  // margin-top: 15px;
}

////////////

.user-dropdown {
  display: none;
  position: absolute;
  background-color: rgb(44,44,44);
  color: white;
  right: 0px;
  top: 42px;
}

.welcome-and-logout:hover .user-dropdown {
   display: block;
 }

.user-dropdown:hover  {
  display: block;
}

.user-dropdown li {
  padding: 0;
  margin: 0;
  float: none;
 }

.user-dropdown li li {
  float: none;
  border-bottom: 1px solid #ccc;
  width: 145px;
  cursor: pointer;
}

.user-dropdown li li a {
  padding: 10px;
  display: block;
}

.user-dropdown li li:hover {
  background-color: #444;
}

.user-dropdown li li:last-child {
   border-bottom: 0;
}


.user-dropdown button {
  padding: 10px;
  cursor: pointer;
  width: 125px;
}


.header-search-form {
  // display: none;
  background-color: white;
  margin-top: 9px;
  margin-right: 20px;
  // padding: 0;
  float: right;
  border-radius: 5px;
  width: 240px;

}


.header-search-form .react-autosuggest__input {
  height: 25px;
  padding: 5px 10px;
  width: 190px;
  // font-family: Helvetica, sans-serif;
  // font-weight: 300;
  border: 0;
  color: black;
}


.header-search-form .react-autosuggest__container {
}

.react-autosuggest__container:after {
  content: "🔍";
  color: black;
  margin-right: 5px;
}

.search-result {
  color: #333;
  display: block;
  padding: 10px;
  font-weight: 500;
  font-size: 15px;

  text-overflow: ellipsis;
  white-space: nowrap;
  width: 230px;
  overflow: hidden;
}
