.home, .place {
  width: 1024px;
  margin: 28px auto;
  padding: 0 12px;
}

.followers {
  width: 1024px;
  margin: 28px auto;
}

.home-main, .place-main, .user-feed-main, .followers-main {
  float: left;
  margin-right: 23px;
  margin-bottom: 50px;
}

.home-sidebar, .place-sidebar, .user-feed-sidebar, .followers-sidebar {
  float: right;
  width: 300px;
  margin-bottom: 50px;

}

.home-main h2, .place-main h2, .user-feed-main h2 {
  font-size: 21px;
  font-weight: 500;
}

.home-main p, .place-main p, .user-feed-main p {
  display: inline;
}
