.popular-cities-sidebar {
  padding: 16px;
  width: 268px;
  background-color: white;
  margin-bottom: 20px;
}

.popular-cities-sidebar h3 {
  font-size: 18px;
  padding-bottom: 3px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  font-weight: 500;
}

.popular-city {
  margin-bottom: 20px;
}

.popular-city:last-child {
  margin-bottom: 0;
}

.popular-city-name a {
  color: #cc6600;
  font-size: 17px;
}

li.popular-city .popular-city-name a:hover {
  color: #ff9933;
  display: block;
  text-decoration: none;
}

.popular-city-num-suggestions {
  color: #666;
  font-size: 13px;
}
