// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-feed {
  width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}

.user-feed-top {
  width: 1024px;
  height: 260px;
  margin: 0 auto 16px auto;
  background-image: image-url("user-profile-2.jpg");
  background-size: 1024px;
  background-position: 0px -202px;
  position: relative;
}

.user-feed-top-profile-photo {
  background-image: image-url("blank-profile-picture.png");
  background-size: 140px 140px;
  border-radius: 50%;
  border: 4px solid white;
  background-position: -8px -2px;
  width: 124px;
  height: 124px;
  position: absolute;
  bottom: 36px;
  left: 20px;
}

.user-feed-top-profile-photo img {
}

.user-feed-top-names {
  position: absolute;
  left: 166px;
  top: 142px;
  color: white;
}

.user-feed-top-names h1 {
  font-size: 32px;
  font-weight: 500;
}

.material-icons.icon-person {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
}

.user-feed-top-names span {
  position: absolute;
  bottom: 2px;
}

.user-feed-top-stats-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  height: 52px;
}

.user-feed-top-stats {
  padding: 16px 0 0 140px;
}

.user-feed-top-stats a {
  padding: 9px 60px;
  height: 36px;
  color: white;
  text-align: left;
  position: relative;
  width: 100px;
  border-right: 1px solid #444;
}

.user-feed-top-stats a:hover {
  text-shadow: 0 2px 30px #fff;
}

.user-feed-top-stats a:last-child {
  border-right: 0;
}

.user-feed-top-stats-num {
  font-size: 21px;
  margin-bottom: 2px;
  position: absolute;
  top: -1px;
  left: 18px;
}

.user-feed-top-stats-label {
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: 24px;
  left: 18px;
}

.follow-button, .unfollow-button {
  color: white;
  padding: 5px 12px 5px 5px;
  position: absolute;
  border-radius: 5px;
  right: 32px;
  bottom: 70px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}

.follow-button {
  background-color: rgb(255, 204, 0);
}

.unfollow-button {
  background-color: #a7a7a7;
}


.material-icons.icon-add-circle, .material-icons.icon-remove-circle {
  font-size: 16px;
  margin-right: 2px;
}
